html,
body {
  // font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  overflow: hidden;
  font-size: 12pt;
  font-weight: 300;
}

body {
  background-color: #111111;
  color: white;
  // background-color: white;
}

h1,
h2,
h3 {
  margin-top: 0;
}

#app {
  height: 100%;
  width: 100%;
}

canvas {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#DisplayRenderer {
  cursor: grab;
}

#DisplayRenderer:active {
  cursor: grabbing;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input[type='text'],
input[type='number'] {
  background-color: #222222;
  color: white;
  border-radius: 3pt;
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;

  height: 20pt;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 11pt;
  font-weight: 100;
  padding: 5pt 5pt;
}

input::placeholder {
  opacity: 0.5;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10pt;
  border-radius: 5pt;
  background: hsl(0, 0%, 30%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

$thumb-size: 15pt;
$thumb-default-color: #ffffff;

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  border-style: none;
  background: $thumb-default-color;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  border-style: none;
  background: $thumb-default-color;
  cursor: pointer;
}
