@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300&display=swap');

$bRadius: 3pt;
$baseFontSize: 11pt;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: $baseFontSize;
}

canvas {
  margin: auto;
  z-index: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}

.blueColor {
  color: #89ffff !important;
}

.redColor {
  color: #ff2652 !important;
}

p {
  padding: 0;
  margin: 0;

  margin: 0;
  color: #a3a3a3;
}

label {
  font-size: 1.2em;
}

input[type='text'] {
  background-color: #191919;
  color: white;
  border-radius: $bRadius;
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;

  height: 20pt;
  margin: 0;
  font-family: 'Roboto Mono';
  font-size: $baseFontSize;
  font-weight: 100;
  padding: 5pt 5pt;
}

input::placeholder {
  opacity: 0.5;
}

button {
  background-color: #333333;
  border: none;
  border-radius: $bRadius;
  color: inherit;
  height: 100%;
  padding: 0 1em;
  font-size: 0.9em;
  margin: 0;
  cursor: pointer;
}

button:active {
  background-color: #191919;
  color: inherit;
}

button:disabled {
  background: #191919;
}

.status {
  position: absolute;
  color: white;
}

.fpsContainer {
  background-color: rgba(37, 37, 37, 0.5);
  padding: 4pt 5pt;

  p {
    display: inline-flex;
    padding: 0pt 1pt 0pt 2pt;
  }
}

.loopStatus {
  display: inline-flex;
  background-color: rgba(37, 37, 37, 0.5);
  padding: 4pt 5pt;
  border-radius: 0 0 2pt 0;
  width: 75pt;

  p {
    padding: 0pt 2pt;
  }

  #playpause:hover {
    cursor: pointer;
  }
}

.minibar {
  left: 5pt;
  bottom: 5pt;
  width: 130pt;
  opacity: 0.5;

  padding: 5pt 4pt 4pt 6pt;
  border-radius: $bRadius;
  background-color: black;
  .sectiontitle {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    padding: 2pt 0pt;
    gap: 5pt;
    p {
      margin: auto 0;
    }
    button {
      width: 2em;
      height: 2em;
      text-align: center;
      padding: 0;
    }
  }
  .textinput {
    position: relative;
    display: inline-flex;
    padding: 2pt 0pt;
  }

  p {
    color: white;
  }
}
